doctype html
html(lang="en")
  head
    include _head.pug
    title Confirme seu e-mail

.container
  .header
    h1 Confirme seu e-mail
  .content
    .text-center
      p Olá, seu código de confirmação é:
      h2 #{code}
      p Se você não solicitou este código, por favor, ignore este e-mail.
  .footer
    p Este é um e-mail automático, por favor, não responda.