body {
  font-family: Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  background-color: #f9f9f9;
}

.header {
  padding: 10px 0;
  text-align: center;
}

.content {
  padding: 20px;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-center {
  text-align: center;
}

.footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  font-size: 0.75rem;
}

.footer p {
  margin: 0;
}

.confirmation-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  text-decoration: none;
  display: inline-block;
}